body{
	background-image: url(../images/background.jpg);
	overflow: hidden;
}

#hangman{
	font-family: 'Ewert', cursive;
	/*font-family: 'Sancreek', cursive;*/
	font-size: 9vh;
	/*text-shadow: 0px 0px 15px -3px #000000;*/
	/*text-shadow: 1px 1px 1px #000;*/
}

/*div > h3{
	font-size: 3vh;
	padding-top: 5px;
	text-shadow: 1px 1px 1px #000;
}*/

div > p {
	font-size: 3vh;
}

div > h1,
#wins,
#winner,
#loser{
	font-size: 4.5vh;
}

div > h2{
	font-size: 4vh;
}

.row{
	text-align: center;
}

/*#info{
	font-size: 3vh;
 }*/
/*#gameStats{
	text-align: center;
}*/

 #gameStats{
 	float: left;
 	/*width: 15vw;*/
 	height: 25vh;
 	/*margin-left: 5vw;*/
 	border: 1px solid black;
 }

 #pic{
 	/*float: left;*/
 	/*width: 15vw;*/
 	height: 25vh;
 	/*margin-left: -5vw;*/
 	/*border: 1px solid black;*/
 }

 #hint{
 	padding-right: 2vw;
 	padding-left: 2vw;
 }

 #actorPics{
 	height: 25vh;
 	width: 12vw;
 	border-radius: 50%;
 	border: 1px solid black;
 }

#incorrect,
#hint,
#info,
#wL,
span{
	font-size: 3vh;
}

div > h1,
div > h2,
div > h3,
div > p,
#incorrect,
#info,
#hint,
span,
#wL,
#play{
	font-family: 'New+Rocker', cursive;
}

#playAgain{
	margin-top: 20px;
	font-size: 3vh;
	/*border: solid;*/
	/*border-width: 2px;*/
	border-color: #FAF7F5;
}

#playAgain:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.9); 
}

#play{
	font-size: 3vh;
	padding-left: 2vw;
	padding-right: 2vw;
}

#winner{
	margin-top: 100px;
}

#loser{
	margin-top: 100px;
}

#wins{
	font-family: 'New+Rocker', cursive;
	/*font-size: 45px;*/
}

.btn-primary{
	background-color: #AA7243 !important;
}

@media only screen and (max-width: 1024px){	
	
	#hangman{
		font-size: 7vh;
	
	}

	div > h1,
	#wins,
	#winner,
	#loser{
		font-size: 3vh;
	}

	div > p {
		font-size: 2vh;
	}
	
	div > h2
	{
		font-size: 3vh;

	}

	#playAgain,
	#hint,
	#correct,
	#incorrect,
	#info,
	#wL{
		font-size: 2.5vh;
	}

	#play{
		font-size: 2.5vh;
	}
}

@media only screen and (max-width: 376px){	
	
	#hangman{
		font-size: 6vh;
	
	}
}
